<div data-layoutFor="body" >
	<div class="page-wrapper">
		
		<div data-layoutId="header" data-htmlUrl="pages/layout/layout-header.html" ></div>
	
		<div data-layoutId="aside" data-htmlUrl="pages/layout/layout-aside.html" ></div>
		
		<div data-layoutId="content" data-htmlUrl="pages/layout/layout-content.html" ></div>
		
		<div data-layoutId="footer" data-htmlUrl="pages/layout/layout-footer.html" ></div>

	  <!-- Left side column. contains the logo and sidebar -->
	
	  <!-- Content Wrapper. Contains page content -->
	  
	  <!-- /.content-wrapper -->
	  
	</div>

	
</div>