
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
<title>Response messages</title>
<meta name="description" content="">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Favicons -->
<link rel="stylesheet" href="../../dist/css/admin-all-demo.css">

<!-- JS Core -->

</head>

<body>
	<div id="sb-site">
		<div id="page-wrapper">
			<div id="page-header" class="bg-gradient-9">
				<div id="mobile-navigation">
					<button id="nav-toggle" class="collapsed" data-toggle="collapse"
						data-target="#page-sidebar">
						<span></span>
					</button>
					<a href="index.html" class="logo-content-small" title="MonarchUI"></a>
				</div>
				<div id="header-logo" class="logo-bg">
					<a href="index.html" class="logo-content-big" title="MonarchUI">
						Monarch <i>UI</i> <span>The perfect solution for user
							interfaces</span>
					</a> <a href="index.html" class="logo-content-small" title="MonarchUI">
						Monarch <i>UI</i> <span>The perfect solution for user
							interfaces</span>
					</a> <a id="close-sidebar" href="#" title="Close sidebar"> <i
						class="glyph-icon icon-angle-left"></i>
					</a>
				</div>
				
				<div id="header-nav-left">
					<div class="user-account-btn dropdown">
						<a href="#" title="My Account" class="user-profile clearfix"
							data-toggle="dropdown"> 
							<span>Thomas Barnes</span> <i
							class="glyph-icon icon-angle-down"></i>
						</a>
					</div>
				</div>
				
				<!-- #header-nav-left -->

				<div id="header-nav-right">
					<a href="#" class="hdr-btn popover-button" title="Search"
						data-placement="bottom" data-id="#popover-search"> <i
						class="glyph-icon icon-search"></i>
					</a>
					<div class="hide" id="popover-search">
						<div class="pad5A">
							<div class="input-group">
								<input type="text" class="form-control"
									placeholder="Search terms here ..."> <span
									class="input-group-btn"> <a class="btn btn-primary"
									href="#">Search</a>
								</span>
							</div>
						</div>
					</div>
					
					<a href="#" class="hdr-btn" id="fullscreen-btn" title="Fullscreen">
						<i class="glyph-icon icon-arrows-alt"></i>
					</a> 
					
					<div class="dropdown" id="notifications-btn">
						<a data-toggle="dropdown" href="#" title=""> <span
							class="small-badge bg-yellow"></span> <i
							class="glyph-icon icon-linecons-megaphone"></i>
						</a>
					</div>
					
					<div class="dropdown" id="progress-btn">
						<a data-toggle="dropdown" href="#" title=""> <span
							class="small-badge bg-azure"></span> <i
							class="glyph-icon icon-linecons-params"></i>
						</a>
					</div>
					
					<div class="dropdown" id="cloud-btn">
						<a href="#" data-placement="bottom"
							class="tooltip-button sb-toggle-right" title="Statistics Sidebar">
							<i class="glyph-icon icon-linecons-cloud"></i>
						</a>
					</div>
					
					<div class="dropdown" id="dashnav-btn">
						<a href="#" data-toggle="dropdown" data-placement="bottom"
							class="popover-button-header tooltip-button"
							title="Dashboard Quick Menu"> <i
							class="glyph-icon icon-linecons-cog"></i>
						</a>
					</div>
					
					<a class="header-btn" id="logout-btn" href="lockscreen-3.html"
						title="Lockscreen page example"> <i
						class="glyph-icon icon-linecons-lock"></i>
					</a>

				</div>
				<!-- #header-nav-right -->

			</div>
		</div>
	</div>
</body>
</html>